<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load static %}
  <title>Relecov Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'relecov_dashboard/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'relecov_dashboard/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'relecov_dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'relecov_dashboard/dashboard/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'relecov_dashboard/dashboard/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">Relecov Dashboard</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span>VOCs/VUIs in Spain</span>
                </a>
            </li><!-- End VOCs/VUIs Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>VOC Spike Structure</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="components-alerts.html">
                            <i class="bi bi-circle"></i><span>sub-struture</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End VOC Spike Structure Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Antigenic Mutations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="forms-elements.html">
                            <i class="bi bi-circle"></i><span>Sub Level</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Antigenic Mutations Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>VOCs/VUIs + Antigenicity</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="tables-general.html">
                            <i class="bi bi-circle"></i><span>General Tables</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End VOCs/VUIs + Antigenicity Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>T Cell Epitope Mutations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End T Cell Epitope Mutations Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Mutations by Week</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Mutations by Week Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Spike Profiles</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Spike Profiles Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Drug Resistance</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Drug Resistance Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Ronapreve</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Ronapreve Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Geograhical Distribution</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Geographical Distribution Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Omnicron and mAb</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Omnicron and mAb Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Recombinats</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            </li><!-- End Recombinats Nav -->
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        {% block content %}
	     <!--========== HERE WILL BE THE INFORMATION FROM DJANGO CODE  ==========-->
        {% endblock %}
    </main><!-- End #main -->

    {% include "relecov_dashboard/footer.html" %}
</body>

</html>
