{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br><br><br>

    <div class="card" style="width: 17rem;">
            <div>
                {% include "relecov_dashboard/variantSideBar2.html" %}
            </div>    
    </div>
    <div class="" style="width: auto; margin-left: 18rem;">  
        <br><br><br><br><br>
        <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/lineageBarStack.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Lineage in time</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/dashboard/lineagesInTime" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/needlePlot.png' %}" class="card-img-top" alt="molecular 3D" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Mutations</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/dashboard/needlePlot" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width: 48%">
            <div class="card-body">
              <h5 class="card-title">Molecule3D</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/dashboard/molecular3D" class="btn btn-primary">Go to graph</a>
            </div>
          </div>
          <br><br>
          <!---->
          <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Card title 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="molecular 3D" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Card title 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-3" style="width: 30%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Card title 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    
{% endblock %}
