{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br><br><br>

<div class="container-fluid" style="width:auto;">
        
        <div class="card d-inline-flex p-2 m-2" style="width: 45%">
            <img src="{% static 'relecov_dashboard/img/lineageBarStack.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Lineages VOC</h5>
              <p class="card-text">
                <ul>
                  <li>graph by time</li>
                  <li>Graph by Autonomous Community</li>
                  <li>Table to filter and download</li>
                </ul>
              </p>
              <a href="/dashboard/lineagesInTime" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-2" style="width: 45%">
            <img src="{% static 'relecov_dashboard/img/needlePlot.png' %}" class="card-img-top" alt="molecular 3D" style="width: 70%">
            <div class="card-body">
              <h5 class="card-title">Lineages</h5>
              <p class="card-text">
                <ul>
                  <li>graph by time</li>
                  <li>Graph by Autonomous Community</li>
                  <li>Table to filter and download</li>
                </ul>
              </p>
              <a href="/dashboard/needlePlot" class="btn btn-primary">Go to graph</a>
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-2" style="width: 45%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width: 48%">
            <div class="card-body">
              <h5 class="card-title">Mutations in Lineages</h5>
              <p class="card-text">
                <ul>
                  <li>needle plots</li>
                  <li>table to filter and output the data in table</li>
                </ul>
              </p>
              <a href="/dashboard/molecular3D" class="btn btn-primary">Go to graph</a>
            </div>
          </div>
          <br><br>
          <!---->
          <div class="card d-inline-flex p-2 m-1" style="width: 45%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width:48%">
            <div class="card-body">
              <h5 class="card-title">Spike mutations</h5>
              <p class="card-text">
                <ul>
                  <li>Tables with graphs</li>
                  <li>Protein modeling plots</li>
                </ul>
              </p>
              <a href="#" class="btn btn-primary">Go to graph</a>
            </div>
    </div>
    
{% endblock %}
