{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br>
<!--<div>-->
  <div class="container d-flex flex-column text-center">
        {% include "relecov_dashboard/variantSideBar2.html" %}
    </div>
    <!--<section id="about" class="about">-->
        <br>
        <div class="container-fluid d-flex flex-column" style="width:auto;margin-left: 17%;">
            <p>Group 4</p>
        </div>
    <!--</section>-->
<!--</div>-->
{% endblock %}
