{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<section style="width: 70%;margin-left: 20%">
    <div class="container d-flex flex-column text-center position-relative">
        <div class="container d-flex flex-column text-center">
            {% include "relecov_dashboard/variantSideBar.html" %}
        </div>
        <br>
        <div class="container-fluid d-flex flex-column" style="width:auto;margin-left: 17%;">
            <p>Group 1</p>
        </div>
    </div>
</section>
    
{% endblock %}
