{% extends 'relecov_dashboard/new_base.html' %}

{% load static %}


{% block content %}
{% include "relecov_dashboard/variantSideBar.html" %}
<section id="relecov-platform" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">

<section>
    <div class="container-fluid overflow-hidden">
        <div class="row row-eq-height">
            <div class="col">
                <div class="p-3 border bg-light"><h4>Received Samples</h4>
                <br>
                <h1><div class="value" akhi="27536">0</div></h1>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border "><h4>Procesed Samples</h4>
                <br>
                <h1><div class="value" akhi="24735">0</div></h1>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><h4>Uploads to GISAID</h4>
                <br>
                <h1><div class="value" akhi="23586">0</div></h1>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><h4>Uploads to  ENA</h4>
                <br><h3> </h3><br>
                <h1><div class="value" akhi="22984">0</div></h1>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</section>
{% endblock %}
