{% extends 'relecov_core/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br><br>
<div class="container d-flex flex-column text-center">
  {% include "relecov_dashboard/sidebar_templates/variantSideBar.html" %}
</div>
<div class="card" style="text-align:center;margin-left:15%;margin-right:1%">
  <div class="card-body border">
    {% include "relecov_dashboard/graph_templates/needle_plot.html"%}
  </div>
  <div class="card-body border">
    {% include "relecov_dashboard/graph_templates/lineages_in_time.html"%}
  </div>
  
  
</div>
<br><br><br><br>
{% endblock %}
