{% extends 'relecov_core/base.html' %}
{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br>

<!--<div class="" style="text-align: center;"><p>Variant mutations in Lineages</p></div>-->
<div class="container-fluid text-center">
  <!--header-->
  <div class="card bg-light d-inline-flex p-3" style="width: 80%;">
    <div class="container-fluid" style="text-align: center;">
      <p class="fs-1 text-uppercase">Variant mutations in Lineages dashboard</p>
    </div>
  </div>

  <!--card 1-->
  <div class="card d-inline-flex  p-2 m-1" style="width: 40%">
    <div class="card-body border" style="text-align: left;">
      <div class="card-header" ><h2>Search by number of sample</h2>
          <div class="card-subtitle">This needle plot allows you to display variant mutations in Lineages of each sample available in the database.<br>Click on the Tutorial button to know more about each of the parts that are part of this graph</div>

          <!-- Example split danger button -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">Tutorial</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-item">
                      <div class="card dropdown-item" style="width: auto;">
                        <img src="{% static 'relecov_dashboard/img/variants_dashboard_images/mutations_in_lineages_dashboard_images/variants_in_lineages_by_sample_tutorial.png' %}"class="card-img-left" alt="mutations in lineages by sample"style="width:85%;">
                        <div class="card-body">
                          <h5 class="card-title">Info about graph elements</h5>
                          <ol>
                              <li class="card-text"><b>Range slider(Show or Hide) - </b>This element allows us to select if we want to make the rangeslider visible or not</li>
                              <li class="card-text"><b>Select a sample - </b>This element allows us to select the sample number that we want to display, as long as it is available in the database.</li>
                              <li class="card-text"><b>Mutations - </b>We can filter the graph by the mutation value (hgvs_p).</li>
                              <li class="card-text"><b>Gene Domains - </b>This element allows us to mark the domains of the gene that we need to highlight.</li>
                              <li class="card-text"><b>Needle Plot - </b> 
                                  This graph displays variant mutations in Lineages of each sample, using the following data:<br>
                                  <ul>
                                      <li>x-axis - Genome position</li>
                                      <li>y-axis - Allele Frequency (AF)</li>
                                  </ul>
                              </li>
                              <li class="card-text"><b>Range slider - </b>This element allows us to select a specific area of ​​the needle plot, in a more comfortable way</li>
                          </ol>
                        </div>
                      </div>
                  </div>  
              </div>
          </div>

          <a href="/dashboard/variants/mutationsInLineagesBySample" class="btn btn-outline-success" role="button" style="margin-left:10%;">Expand</a>
      
      </div>
      <div class="card-body border" style="text-align: center;">
          {% plotly_app name="needlePlotBySample" ratio=1.3 %}
      </div>
    </div>
  </div>
  <!--end card 1-->

  <!--card 2-->
  <div class="card d-inline-flex  p-2 m-1" style="width: 40%">
    <div class="card-body border" style="text-align: left;">
      <div class="card-header" ><h2>Search by lineage</h2>
          <div class="card-subtitle">Choose a lineage and the needle plot will display the positions in all the samples that contain the selected lineage.<br>Click on the Tutorial button to know more about each of the parts that are part of this graph</div>

          <!-- Example split danger button -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">Tutorial</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-item">
                      <div class="card dropdown-item" style="width: auto;">
                        <img src="{% static 'relecov_dashboard/img/variants_dashboard_images/mutations_in_lineages_dashboard_images/variants_in_lineages_by_lineage_tutorial.png' %}"class="card-img-left" alt="mutations in lineages by sample"style="width:85%;">
                        <div class="card-body">
                          <h5 class="card-title">Info about graph elements</h5>
                          <ol>
                              <li class="card-text"><b>Range slider(Show or Hide) - </b>This element allows us to select if we want to make the rangeslider visible or not</li>
                              <li class="card-text"><b>Select a lineage - </b>This element allows us to select a lineage that we want to display.</li>
                              <li class="card-text"><b>Mutations - </b>We can filter the graph by mutation value.</li>
                              <li class="card-text"><b>Gene Domains - </b>This element allows us to mark the domains of the gene that we need to highlight.</li>
                              <li class="card-text"><b>Needle Plot - </b> 
                                  This graph displays variant mutations in Lineages of each sample, using the following data:<br>
                                  <ul>
                                      <li>x-axis - Genome position</li>
                                      <li>y-axis - Allele Frequency (AF)</li>
                                  </ul>
                              </li>
                              <li class="card-text"><b>Range slider - </b>This element allows us to select a specific area of ​​the needle plot, in a more comfortable way</li>
                          </ol>
                        </div>
                      </div>
                  </div>  
              </div>
          </div>
          <a href="/dashboard/variants/mutationsInLineagesByLineage" class="btn btn-outline-success" role="button" style="margin-left:10%;">Expand</a>
      </div>
      <div class="card-body border" style="text-align: center;">
        {% plotly_app name="needlePlotMutationByLineage" ratio=1.3 %}
      </div>
    </div>
  </div>
  <!--end card 2-->

  <!--card 3-->
  <div class="card d-inline-flex  p-2 m-1" style="width: 41%">
    <div class="card-body border" style="text-align: left;">
      <div class="card-header" ><h2>Heatmap</h2>
          <div class="card-subtitle">This needle plot allows you to display variant mutations in Lineages of each sample we select. Click on the Tutorial button to know more about each of the parts that are part of this graph</div>

          <!-- Example split danger button -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">Tutorial</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-item">
                      <div class="card dropdown-item" style="width: auto;">
                        <img src="{% static 'relecov_dashboard/img/variants_dashboard_images/mutations_in_lineages_dashboard_images/variant_in_lineages_mutation_heatmap_tutorial.png' %}"class="card-img-left" alt="mutations in lineages by sample"style="width:85%;">
                        <div class="card-body">
                          <h5 class="card-title">Info about graph elements</h5>
                          <ol>
                              <li class="card-text"><b>Select samples - </b>This element allows us to select the sample or samples we want to display to compare.</li>
                              <li class="card-text"><b>Select genes - </b>This element allows us to choose the genes affected in each of the samples to be able to visualize them.</li>
                              <li class="card-text"><b>AF - </b>This element shows us the Allele Frequency values ​​related to a certain color.</li>
                              <li class="card-text"><b>Samples - </b>In this element all the samples that we choose will be arranged.</li>
                              <li class="card-text"><b>Mutations - </b>This element shows us a combination of the name of the gene - name of the mutation.</li>
                          </ol>
                          <ul>
                            <li class="card-text"><b>Hetamap graph - </b> 
                              This graph displays variant mutations in Lineages of each sample, using the following data:<br>
                              <ul>
                                  <li>x-axis - Mutations</li>
                                  <li>y-axis - Samples selected</li>
                                  <li>Color - Express the value of AF relating it to a certain color</li>
                              </ul>
                          </li>
                          </ul>
                        </div>
                      </div>
                  </div>  
              </div>
          </div>
          <a href="/dashboard/variants/mutationsInLineagesHeatmap" class="btn btn-outline-success" role="button" style="margin-left:10%;">Expand</a>
      </div>
      <div class="card-body border" style="text-align: center">
        {% plotly_app name="mutationHeatmap" ratio=1.1 %}
      </div>
    </div>
  </div>
  <!--end card 3-->


  <!--card 4-->
  <div class="card d-inline-flex  p-2 m-1" style="width: 41%">
    <div class="card-body border" style="text-align: left;">
      <div class="card-header" ><h2>Table filtered by mutation effect</h2>
          <div class="card-subtitle">The following table shows us the data related to the mutations present in each sample. We can filter the results by adding or removing mutation effects from the select widget</div>

          <!-- Example split danger button -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">Tutorial</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-item">
                      <div class="card dropdown-item" style="width: auto;">
                        <!--<img src="{% static 'relecov_dashboard/img/variants_dashboard_images/mutations_in_lineages_dashboard_images/variants_in_lineages_by_sample_tutorial.png' %}"class="card-img-left" alt="mutations in lineages by sample"style="width:85%;">-->
                        <div class="card-body">
                          <h5 class="card-title">Info about graph elements</h5>
                          <ul>
                              <span class="fs-5"><b><u>Elements available</u></b></span>
                              <li class="card-text"><b>Select effects - </b>This element allows you to filter the results by choosing one or more effects available in the database.</li>
                          </ul>
                          <hr>
                          <ul>
                              <span class="fs-5"><b><u>Fields available in the table</u></b></span>
                              <li class="card-text"><b>SAMPLE - </b>Number of sample.</li>
                              <li class="card-text"><b>POS - </b>Position in the genome.</li>
                              <li class="card-text"><b>MUTATION - </b>Mutation name.</li>
                              <li class="card-text"><b>AF - </b>Allele Frequency.</li>
                              <li class="card-text"><b>EFFECT - </b>Effect name.</li>
                              <li class="card-text"><b>GENE - </b>Gene affected by the mutation.</li>
                              <li class="card-text"><b>LINEAGE - </b>Lineage assigned to the sample.</li>
                          </ul>
                        </div>
                      </div>
                  </div>  
              </div>
          </div>
          <a href="/dashboard/variants/mutationsInLineagesTable" class="btn btn-outline-success" role="button" style="margin-left:10%;">Expand</a>
      </div>
      <div class="card-body border" style="text-align: center;">
        {% plotly_app name="mutationTable" ratio=1.1 %}
      </div>
    </div>
  </div>
  <!--end card 4-->

</div>
{% endblock %}
