{% extends 'relecov_core/base.html' %}
{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br>
{% include "relecov_dashboard/variantsSidebar.html"%}
<div class="" style="text-align: center;">
    <div class="card d-inline-flex p-2 m-1" style="width: 75%;">
        <div class="card-header"><h2>Variant mutations in Lineages (search by sample)</h2></div>
        <div class="card-body border">
            {% plotly_app name="model3D_zoom_residues" ratio=1 %}
        </div>
        
        <div class="card-header"><h2>Spike mutations</h2></div>
        <div class="card-body border">
            {% plotly_app name="model3D_bn" ratio=1 %}
        </div>
        
    </div>
</div>

{% endblock %}
