{% extends "relecov_core/base.html"%}
{% load static %}

{% block content %}
{% include "relecov_core/intranet2Sidebar.html" %}

{% if form.errors %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h4 class="card-title" >Your userid and/or password are incorrect</h4>
                <div class="card-body">
                    <p> Please enter your credentials again to login</p>
                </div>  <!-- end card-body -->
            </div>  <!-- end card -->
        </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
{% endif %}

<br><br>
<section style="">
    <div class="container d-flex flex-column text-center position-relative">
        <div class="container" style="">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h3 class="card-title">Contributor Info</h3>
                    <div class="card">
                        
                        <div class="card-body">
                            
                            <p class="card-title"> Laboratory Information</p>
                            <form class="row g-3"  method="post" action="{% url 'contributorInfo' %}">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="hospital_name" placeholder="hospital_name">
                                    <label for="floatingInput">Type your Hospital Name</label>
                                </div>
                                <p class="card-title">Contact Information</p>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="admin_email" placeholder="admin_email">
                                    <label for="floatingInput">Type Admin Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="admin_telephone" placeholder="admin_telephone">
                                    <label for="floatingInput">Type Admin Telephone Number</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="admin_position" placeholder="admin_position">
                                    <label for="floatingInput">Type your position in the hospital</label>
                                </div>
                                
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Submit Info</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}