{% extends "relecov_core/base.html" %}
{% load static %}


{% block content %}
<section id="relecov-platform" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <div class="card bg-dark text-white" style="text-align: center;">
            <img src="{% static 'relecov_core/img/under_construction.png' %}" class="card-img mt-5" alt="under construction image" style="width: 35%;margin-left: 30%">
            <div class="card-img-overlay">
            <h5 class="card-title">Documentation</h5>
            </div>
        </div>
    </div>
</section>
{% endblock%}
