

{% block content %}
<!--
<aside id="sidebar" class="sidebar">
    <div class = sidebar-nav>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Form Metadata Labs
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <a href="#">Submit Data</a>
                        <a href="#">Contributor Info</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Accordion Item #2
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <a href="#">Submit Data</a>
                    <a href="#">Contributor Info</a>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Accordion Item #3
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <a href="#">Submit Data</a>
                    <a href="#">Contributor Info</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</aside>  
-->

<!------------------------------------------------------------------>

<aside id="sidebar" class="sidebar">
    
    <h4>Form Metadata Labs</h4>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#metadata-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-menu-button-wide"></i><span>Form Metadata Labs</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="metadata-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="">
                <li>
                    <a href="components-alerts.html">
                        <i class="bi bi-circle"></i><span>Submit Data</span>
                    </a>
                </li>
                <li>
                    <a href="components-alerts.html">
                        <i class="bi bi-circle"></i><span>Contributor Info</span>
                    </a>
                </li>
            </ul>
        </li><!--End VOCs/VUIs Nav -->
        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Contributor Info</span>
            </a>
        </li> <!--End VOCs/VUIs Nav -->

        <h4>Uploads</h4>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-menu-button-wide"></i><span>Linages Structure</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="">
                <li>
                    <a href="components-alerts.html">
                        <i class="bi bi-circle"></i><span>sub-struture</span>
                    </a>
                </li>
            </ul>
        </li> <!--End VOC Spike Structure Nav -->

        <h4>Results</h4>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Recombinats</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!--End Recombinats Nav -->
        <h4>Downloads</h4>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Results</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!--End Recombinats Nav -->
    </ul>
</aside>
{% include "relecov_core/relecovForm.html" %} 
{% endblock %}
