

{% load static %}

{% block content %}
<aside id="sidebar" class="sidebar" style="margin-top: 7%;">
    
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#metadata-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-menu-button-wide"></i><span>Form Metadata Labs</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="metadata-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="">
                <li>
                    <a href="/metadataForm">
                        <!--<i class="bi bi-circle"></i>--><i class="bi bi-cloud-upload"></i><span>Submit Data</span>
                    </a>
                </li>
                <li>
                    <a href="/contributorInfo">
                        <!--<i class="bi bi-circle"></i>--><i class="bi bi-info-circle"></i><span>Contributor Info</span>
                    </a>
                </li>
            </ul>
        </li><!--End VOCs/VUIs Nav -->
        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-cloud-arrow-up"></i>
                <span>Upload Status</span>
            </a>
        </li> <!--End VOCs/VUIs Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <!--<i class="bi bi-menu-button-wide"></i>--><i class="bi bi-clipboard-data"></i><span>Results Info</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="">
                <li>
                    <a href="#">
                        <!--<i class="bi bi-circle"></i>--><span>sub-struture</span>
                    </a>
                </li>
            </ul>
        </li> <!--End VOC Spike Structure Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#downloads-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-cloud-arrow-down"></i><span>Downloads</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="downloads-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="">
                <li>
                    <a href="#">
                        <!--<i class="bi bi-circle"></i>--><span>Results Download</span>
                    </a>
                </li>
            </ul>
    </ul>
</aside>

{% endblock %}
