<!--Pending Data Tab-->
<div id="pendingData" class="tabcontent">
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="card">
                <div class="card-title"><h3 style="text-align:center">Pending Data List</h3></div>
                <div class="card-body">
                    <input type="hidden" name="action" value="pendingDataReturn"/>
                    <div  class="card" >
                        <div class="card-body" >
                            <div class="card-body overflow-scroll">
                                {% if request.session.pending_data_msg == "PENDING DATA"%}
                                <br>You entered the data shown below.<br>
                                <table>
                                    <tr>
                                    {% for item in request.session.pending_data_list %}
                                        <!--JExcel Form Pending data-->
                                            <section style="">
                                                <div class="container overflow-hidden">
                                                <div class="row gx-5">
                                                    <div style="text-align:center">
                                                        <form method="post" enctype="multipart/form-data" name="sampledataReprocess"  id="sampledataReprocess" class="form-horizontal well" style="min-height: 500px;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="action" value="sampledefinitionReprocess"/>
                                                            <div class="scrolling-wrapper">
                                                                <div id="spreadsheet" class="overflow-scroll" style="width:75%"></div>
                                                            </div> <!--  end of scrolling  -->
                                                            <input type="button" value="Download Spreadsheet" onclick="table1.download()"/>
                                                            <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            </section>

                                            <script>
                                                var data = {{request.session.pending_data_list|safe}};
                                                var table1 = jspreadsheet(document.getElementById('spreadsheet'), {
                                                data:data,
                                                //csvHeaders:true,
                                                //tableOverflow:false,
                                                columns: [
                                                {% for item in sample_recorded.sample %}
                                                        {% if "date" in item.Format %}
                                                            { type: 'calendar', title: "{{item.Label}}", width:280, readOnly:true },
                                                        {% else %}
                                                            { type: 'text', title: "{{item.Label}}", width:280, readOnly:true },
                                                        {% endif %}
                                                    {% endfor %}
                                                ],
                                                allowInsertColumn:false,
                                                allowDeleteColumn:false,
                                                allowRenameColumn:false,
                                                csvFileName:'Metadata_download',
                                                minDimensions:[{{sample_recorded.samples|length}},6],
                                                readOnly:true,
                                                });
                                            </script>

                                            <script>
                                                $( document ).ready(function () {
                                                    $("#sampledataReprocess").submit(function(e){
                                                    //stop submitting the form to see the disabled button effect
                                                    // e.preventDefault();
                                                    //disable the submit button
                                                        var table_data = table1.getData();
                                                        var data_json = JSON.stringify(table_data);
                                                        $("<input />").attr("type", "hidden")
                                                            .attr("name", "table_data")
                                                            .attr("value", data_json)
                                                            .appendTo("#sampledataReprocess");
                                                        $("#btnSubmit").attr("disabled", true);
                                                        return true;
                                                        });
                                                });
                                            </script>
                                            <!--EndJExcel Pending data-->
                                        {% for key, value in item.items %}
                                            <th>{{ key }}</th>
                                        {% endfor %}          
                                        </tr>
                                        <tr>
                                        {% for key, value in item.items %}
                                            <td>{{ value }}</td>
                                        {% endfor %}          
                                    {% endfor %}          
                                    </tr>
                                </table>
                                {% else %}
                                    You don't have Pending Data 
                                {% endif %}
                                <br>
                            </div> <!-- End   Panel Body   -->
                        </div>  <!-- End   Panel    -->
                        <input class="btn pull-left btn-primary position-absolute bottom-0 start-0" type="reset" value="Reset Fields">
                        <input class="btn pull-right btn-primary position-absolute bottom-0 end-0" type="submit" value="Submit">
                    <!--</div>end col-sm-8 -->
                    <!--<br><p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>-->
                </div><!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--// end col-sm-10  -->
    </div> <!--  end of row -->
</div><!-- // end of tab batchPatient -->
<!--End Pending Data Tab-->