{% extends "relecov_core/base.html" %}
{% load static %}
<!--{% include "relecov_core/JExcelFunctionality.html" %}-->
<!--{%load plotly_dash%}-->


{% block content %}
<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />


<div id="newSamples" class="tabcontent">
    <div class="mt-5 mb-5 card-fluid" >
            <div style="text-align:center"> 
                <form method="post" enctype="multipart/form-data" name="sampledata"  id="sampledata" class="form-horizontal well" style="min-height: 500px;">
                    {% csrf_token %} 
                    <input type="hidden" name="action" value="sampledefinition"/>
                    <div id="spreadsheet" class="overflow-scroll" style="width:75%"></div>
                    <br/><br/>
                    <button id='download'>Export my spreadsheet as CSV</button>
                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                </form>
            </div>
    </div>
</div>
    
    <script>
        var data = [[],[],[],[],[],[]];//initialized with 6 empty rows
        
        var table1 = jspreadsheet(document.getElementById('spreadsheet'), {
            data:data,
            //csvHeaders:true,
            //tableOverflow:false,
            columns: [
                {% for item in sample_recorded.heading %}
                    {% if "Date" in item %}
                        { type: 'calendar', title: "{{item}}", width:280 }, 
                    {% else %}
                        { type: 'text', title: "{{item}}", width:280 },      
                    {% endif %}
                {% endfor %}
            ],
        });

        document.getElementById('download').onclick = function(){
        table1.download();
        }

    </script>
    

{% endblock %}
