{% extends "relecov_core/base.html" %}
{% load static %}
<!--{% include "relecov_core/JExcelFunctionality.html" %}-->
<!--{%load plotly_dash%}-->

{% block content %}
<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<!---->
<!--ISkyLims-->
<script src="{% static 'forms/js/relecov_forms.js' %}" crossorigin="anonymous"></script>
<!--End ISkyLims-->
<!--JExcel Luis-->
<div class="row row-space-4 margin-b-4">
    <div class="col-sm-12">
        <div class="tab">
            <button class="tablinks" onclick="summaryBin(event, 'newSamples')" id="defaultOpen">Record new Samples</button>
            <button class="tablinks" onclick="summaryBin(event, 'batchSamples')">Load batch new Samples</button>

            <div id="newSamples" class="tabcontent">
                <div class="row row-space-4 margin-b-4">
                    <div class="col-sm-12" >
                        <div class="panel panel-default" >
                            <div class="panel-heading"><h3>Record new Samples</h3></div>
                            <div class="panel-body" >

                                <br><br><br>
                                <form method="post" enctype="multipart/form-data" name="sampledefinition"  id="sampledefinition" class="form-horizontal well" style="min-height: 500px;">
                                    {% csrf_token %}
                                    <div class="scrolling-wrapper">
                                        <input type="hidden" name="action" value="recordsample"/>
                                        <div id="spreadsheet" class="overflow-scroll" style="width: 100%;"></div>
                                        <br>
                                    </div> <!--  end of scrolling  -->
                                        <script>
                                            setJExcelTable()
                                        </script>
                                    <br><br>
                                    <br>
                                    <input type="button" value="Download Spreadsheet" onclick="table1.download()"/>
                                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                </form>

                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-12  -->
                </div> <!--  end of row -->
            </div><!-- // end of tab newPatient -->

            <div id="batchSamples" class="tabcontent">
                <div class="row row-space-4 margin-b-4">
                    <div class="col-sm-10 col-sm-offset-1" >
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 style="text-align:center">Load New Samples in batch</h3></div>
                            <div class="panel-body">
                                <form method="post" enctype="multipart/form-data" name="defineBatchSamples"  id="defineBatchSamples" class="form-horizontal well" style="min-height: 700px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="defineBatchSamples"/>
                                    <div  class="col-sm-12" >
                                        <div class="panel panel-default" >
                                            <div class="panel-heading"><h3  style="text-align:center">Upload the excel file to define a batch of samples. </h3></div>
                                            <div class="panel-body" >
                                                <div class="form-group required">
                                                    <label class="col-sm-5  control-label" for="samplesExcel" ><td> Upload Samples file</td> </label>
                                                    <div class="col-sm-5">
                                                        <input class="form-control" required = "required" type="file" accept=".xls, .xlsx" name="samplesExcel" id="samplesExcel" >
                                                    </div>
                                                </div>  <!-- end from-group   -->
                                                <BR>
                                            </div> <!-- End   Panel Body   -->
                                        </div>  <!-- End   Panel    -->

                                        <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                    </div> <!-- end col-sm-8 -->

                                </form>
                                <br>
                                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>


                            </div> <!--  end of panel body -->
                        </div> <!--  end of panel  -->
                    </div> <!--// end col-sm-10  -->
                </div> <!--  end of row -->
            </div><!-- // end of tab batchPatient -->
        </div> <!--  end of Tab  -->
    </div> <!--// end col-sm-12  -->
</div> <!--// end row -->

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{% endblock %}
