{% extends 'relecov_core/base.html' %}
{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br>

<div class="container-fluid" style="text-align: center;">
  <!--card 1-->
  <div class="card d-inline-flex  p-2 m-1" style="width: 80%">
    <div class="card-body border" style="text-align: left;">
      <div class="card-header">
          <h2>Samples received in Spain</h2>
          <div class="card-subtitle p-2">Check the number of samples received from the beginning of the project until now.<br>Click on the Info button to know more about this graph</div>

          <!-- Example split danger button -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-item">
                      <div class="card dropdown-item" style="width: auto;">
                        <img src="{% static 'relecov_dashboard/img/variants_dashboard_images/lineages_dashboard_images/lineages_dashboard_info_map.png' %}"class="card-img-left" alt="lineages dashboard info map image"style="width:90%;">
                        <div class="card-body">
                          <h5 class="card-title">Info about graph elements</h5>
                          <ol>
                            <li class="card-text">In the map shown below we can see the number of samples received by <br>autonomous community by the centers attached to the relecov project</li>
                            <li class="card-text">Position the mouse pointer over the chosen area.<br>This graph will show us a message box with information related to the: 
                              <ul>
                                <li>Name of the autonomous community</li> 
                                <li>Number of samples received since the beginning of the project.</li>
                              </ul>
                            </li>    
                          </ol>  
                        </div>
                      </div>
                  </div>  
              </div>
          </div>

          <a href="/dashboard/variants/lineagesDashboard" class="btn btn-outline-success" role="button" style="margin-left:10%;">Back</a>
      
      </div>
      <div class="card-body border" style="text-align: center;">
        {% plotly_app name="samplesReceivedOverTimeMap" ratio=1 %}
      </div>
    </div>
  </div>
  <!--end card 1-->
</div>
{% endblock %}