{% extends 'relecov_forms/base.html' %}
{% load static %}
<!--{%load plotly_dash%}-->

{% block content %}
<p>
    Prueba JExcel Muestras
    <div id="spreadsheet" style="width: 300px;"></div>
</p>

    <script>
        var data = [[]]
        /*var data = [
            ['Jazz', 'Honda', '2019-02-12', '', true, '$ 2.000,00', '#777700'],
            ['Civic', 'Honda', '2018-07-11', '', true, '$ 4.000,01', '#007777'],
        ];*/
        
        jspreadsheet(document.getElementById('spreadsheet'), {
            data:data,
            columns: [
                { type: 'text', title:'Public Health sample id (SIVIES)', width:230 },
                { type: 'text', title:'Sample ID given by originating laboratory', width:280 },
                { type: 'text', title:'Sample ID given by the submitting laboratory', width:280 },
                { type: 'text', title:'Sample ID given in the microbiology lab', width:280 },
                { type: 'text', title:'Sample ID given if multiple rna-extraction or passages', width:280 },
                { type: 'text', title:'Sample ID given for sequencing', width:280 },
                { type: 'text', title:'Sample ID given by originating laboratory', width:120 },
                { type: 'text', title:'Sample ID given by the submitting laboratory', width:120 },
                { type: 'text', title:'Sample ID given in the microbiology lab', width:120 },
                { type: 'text', title:'Sample ID given if multiple rna-extraction or passages', width:120 },
                { type: 'dropdown', title:'Originating Laboratory', width:200, source:[ 
                    "Hospital Clínic de Barcelona (HCB)", "Instituto de Salud Carlos III ", "Microbiología HUC San Cecilio, Granada ",
                    "Microbiología. Hospital Universitario Virgen del Rocio. Sevillia", "Hospital Clínico Universitario Lozano Blesa", "Hospital Universitario Miguel Servet",
                    "Centro de Investigación Biomédica de Aragón", "Hospital Universitario Central de Asturias", "Servicio de Microbiologia HU Son Espases", 
                    "Hospital Universitario Ntra. Sra de Candelaria (HUNSC)", "Instituto Tecnológico y de Energías Renovables, S.A. (ITER) - centro de referencia",
                    ] },
                { type: 'text', title:'Sample Collection Date', width:120 },
                { type: 'text', title:'Sample Received Date', width:120 },
                { type: 'dropdown', title:'Specimen source', width:200, source:[ 
                    "Nasopharynx aspirate", "Oral epithelium from ectoderm biopsy", "Skin epidermis biopsy",
                    "Epithelium  biopsy", "Bronchial lymph node biopsy", "Hepatic diverticulum biopsy",
                    "Liver bud biopsy", "Biliary bud biopsy", "Gall bladder biopsy", 
                    "Liver biopsy", "Lung biopsy","Oropharynx biopsy","Nasopharynx biopsy","Respiratory tract biopsy",
                    ] },
                { type: 'dropdown', title:'Environmental Material', width:200, source:[ 
                "Animal litter", "Animal manure", "Farmyard manure",
                "Fresh animal manure", "Horse manure", "Pig manure",
                "Stable manure", "Anthropogenic environmental material", "Agricultural environmental material", 
                "Food material", "Food isolate","Food source","Algae","Animal",
                ] },
                { type: 'text', title:'Host Age', width:120 },
                { type: 'text', title:'Host Gender', width:120 },
                { type: 'text', title:'Sequence file R1 fastq', width:120 },
                { type: 'text', title:'Sequence file R2 fastq', width:120 },
                /*{ type: 'calendar', title:'Available', width:200 },
                { type: 'image', title:'Photo', width:120 },
                { type: 'checkbox', title:'Stock', width:80 },
                { type: 'numeric', title:'Price', width:100, mask:'$ #.##,00', decimal:',' },
                { type: 'color', width:100, render:'square', }*/
            ]
        });
        </script>

{% endblock %}
